@media screen and (max-width: 1279px) {
  .big-logo img {
    display: none;
  }
  .up-logo img {
    display: flex;
    max-width: 142.65px;
    min-height: 67px;
  }

  .layout-top {
    padding-top: 20px;
  }

  .about-us {
   .name-area {
    font-size: 3.2rem; 
  }

  .desciption {
    font-size: 1.6rem;
  }
  }
  

}

@media screen and (max-width: 1023px) {
  .layout {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .layout-top {
    padding-top: 20px;
  }

  .layout__nav-menu {
    display: none;
  }

  .layout__content-grid {
    grid-template-columns: 1fr 1fr;
  }

  #about-us {
    grid-template-areas:
    "name-area"
    "desciption";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    .name-area {
      padding-top: 0rem;
      align-items: end;
      font-weight: 100 ;
    }

    .desciption {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  #hero-text1 {
    width: 75vw;
  }
  
  #hero-text2 {
    width: 90vw;
  }

  #about-us {

    .name-area {
      padding-top: 1em;
    }

    .desciption {
      padding-top: 0;
      font-size: 1.4em;
    }
  }

  #our-solutions {
    .name-area {
      padding-top: 5em;
    }
  }
}